@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Orbitron:wght@600&display=swap');


label {
    font-family: 'Orbitron', sans-serif;
}

.formShadow {
    box-shadow: 0px 0px 25px 15px rgb(200, 255, 195) !important;
}
